/* You can add global styles to this file, and also import other style files */
@import "./assets/fonts/fonts.scss";

$breakpointDesktop: 992px;

:root {
  --fontRegular: "Futura Regular";
  --fontBold: "Futura Bold";
  --fontLight: "Futura Light";

  //colors global variables

  --black: #000000;
  --green: #14a06f;
  --white: #fff;
  --red1: #cc0000;
  --red2: red;
  --transparent: #ffffff00;


  --breakpointDesktop: "992px";
}

* {
  margin: 0;
  border: 0;
  font-family: var(--fontRegular);
  font-size: 16px;
}
body{
    background-image: url("./assets/images/pokemon-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.desktop{
  max-width: 40%;
}
